<div class='hero-image'> 
  <div class='hero-text'>
    <h1>Welcome to {{title}}</h1>
    {{#if userExists}}
      <button
        class='signup-button'
        type='button'
        onclick="location.href = '/posts';"
      >
        View Posts
      </button>
    {{else}}
      <button
        class='signup-button'
        type='button'
        onclick="location.href = '/users/new';"
      >
        Sign Up
      </button>
      <button
        class='signup-button'
        type='button'
        onclick="location.href = '/sessions/new';"
      >
        Login
      </button>
    {{/if}}
  </div>
</div>