<div class='container login-container'>
  <div class='row'>
    <div class='login-form'>
      <h4 class='login-header'>Sign Up to Acebook</h4>
      <form id='new-user-form'action='/users' method='post'>
        <input
          id='name'
          type='text'
          name='name'
          placeholder='Your Name'
          required
        />
        <input
          id='email'
          type='email'
          name='email'
          placeholder='Your Email'
          required
        />
        <input
          id='password'
          type='password'
          name='password'
          placeholder='Your Password'
          required
        />
        <input type='submit' value='Submit' />
      </form>
      <p style='text-align: center;'><small>Already have an account?
          <a href='/sessions/new'>Log In here</a></small></p>
    </div>
  </div>
</div>